<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DrinkCoffee</title>
    <link rel="stylesheet" href="libs/bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container-fluid">
    <div class="headerwrap">
        <div class="tittle container">
            <h1>DrinkCoffee</h1>
            <h2>一个充满活力的 Java 全栈开发团队</h2>
        </div>
    </div>
    <div class="welcome">
        <div class="row justify-content-md-center">
            <h3 class="col-md-5 text-center">
                欢迎来到喝咖啡。一个充满活力的 Java <bold>全栈开发团队</bold>。提供专业的 Java 开发支持
            </h3>
        </div>
    </div>
    <div class="service">
        <div class="container">
            <h3 class="text-center">我们的据点</h3><br><br>

            <div class="row">
                <div class="col-md-3">
                    <img src="images/s1.png">
                    <h4>厦门</h4>
                    <p>偶然在集美大桥上的一瞥，便被海景美了一下午。</p>
                </div>
                <div class="col-md-3">
                    <img src="images/s2.png">
                    <h4>上海</h4>
                    <p>我住在繁华的大上海,这里人流如潮、车水马龙。</p>
                </div>
                <div class="col-md-3">
                    <img src="images/s3.png">
                    <h4>巴黎</h4>
                    <p>每个人心中都有一座「巴黎」，那是他永远到达不了的地方</p>
                </div>
                <div class="col-md-3">
                    <img src="images/s4.png">
                    <h4>武汉</h4>
                    <p>武汉的樱花有如我和你初见时的阳光，温暖又暧昧。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <div class="row justify-content-md-center">
            <h3 class="col-md-5 text-center">
                DrinkCoffee
            </h3>
        </div>
    </div>
    <div class="member">
        <div class="container">
            <h3 class="text-center">关于我们</h3><br><br>
            <p>来杯咖啡吧</p><br>
            <div class="row">
                <div class="col-md-2">
                    <img src="images/member-img/skyzc.png">
                    <h4>Skyzc</h4>
                    <h6>全栈开发者</h6>
                    <p>熟悉 Spring Boot 企业级应用开发，Python 爬虫开发</p>
                </div>
                <div class="col-md-2">
                    <img src="images/s2.png">
                    <h4>鲁文迪</h4>
                    <p>个人描述</p>
                </div>
                <div class="col-md-2">
                    <img src="images/s3.png">
                    <h4>佟欣欣</h4>
                    <p>个人描述</p>
                </div>
                <div class="col-md-2">
                    <img src="images/王建波的头像.jpg">
                    <h4>王建波</h4>
                    <h6>小组成员</h6>
                    <p>啥也不会，正在学习</p>
                </div>
                <div class="col-md-2">
                    <img src="../static/images/member-img/xyf.png">
                    <h4>夏一飞</h4>
                    <p>男，学生，嗯……</p>
                </div>
                <div class="col-md-2">
                    <img src="images/s4.png">
                    <h4>郑泽良</h4>
                    <p>个人描述</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="container">
            <h3 class="text-center">联系我们</h3><br><br>
            <div class="row">
                <div class="col-md-4">
                    <h3><bold>Address</bold></h3>
                    <h5>福建省厦门市集美区孙版南路1199号厦门软件学院教学楼103</h5>
                </div>
                <div class="col-md-4">
                    <h3><bold>Send Us A Message:</bold></h3>
                    <h5>drinkcoffee@dc.com</h5>
                </div>
                <div class="col-md-4">
                    <h3><bold>QQ：</bold></h3>
                    <h5>1404725663</h5>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="container">
            <p>Power By DrinkCoffee</p>
        </div>
    </div>
</div>

</body>
<script src="js/jquery-3.4.1.js"></script>
<script src="libs/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
</html>